@import '~hotcss/src/px2rem.less';
@designWidth: 750;

.nav-container {
    font-size: px2rem(34);
    padding-left: 5%;
    padding-right: 5%;

    .nav-title {
        vertical-align: middle;
    }
    .anticon {
        vertical-align: middle;
    }
}